<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>238449343751-2bgr769kkqc2h6b3a5k7ivt6q2amik4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238449343751-2bgr769kkqc2h6b3a5k7ivt6q2amik4q</string>
	<key>API_KEY</key>
	<string>AIzaSyBW2TMzzseHJm0DZkmp9SPmK0d3uJPIeiU</string>
	<key>GCM_SENDER_ID</key>
	<string>238449343751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khoslaa.Money2020</string>
	<key>PROJECT_ID</key>
	<string>money2020-2017-13774</string>
	<key>STORAGE_BUCKET</key>
	<string>money2020-2017-13774.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238449343751:ios:37a5c5e112b47df2</string>
	<key>DATABASE_URL</key>
	<string>https://money2020-2017-13774.firebaseio.com</string>
</dict>
</plist>